@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.cardStyling {
  @include m.flexBox(column, center, center, 0rem);

  img {
    width: 100%;
  }

  &.borderStyling {
    &:hover {
      img {
        border: 4px solid #1d8439;
      }
    }
  }

  .topCaptionStyling {
    display: block;
    background: $light-green;
    color: $white;
    width: 100%;
    text-align: center;

    h4 {
      text-decoration: underline;
    }
  }

  &:hover {
    .captionStyling {
      display: block;
      background: #1d843999;
      color: $white;
      text-align: center;
      width: 100%;
      margin-top: -4rem;

      h5 {
        text-align: left;
      }
    }
  }

  .captionStyling {
    display: none;
  }

  .listingStyling {
    width: 100%;

    h4 {
      margin: 0;
      margin-top: 0.3rem;
    }

    p {
      margin: 0;
    }
  }
}
