@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.buttonStyling {
  &:hover {
    cursor: pointer;
  }

  &.accountBtn {
    background: $white;
    text-align: center;
    width: 50vw;
    border: 3px solid $green;
    color: $green;
    padding: 0.7rem;

    &.active {
      background: $green;
      color: $white;
      border: 0;
    }

    @media (min-width: 1200px) {
      width: 35vw;
    }
  }
}
