@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.formStyling {
  @include m.flexBox(column, center, center, 1rem);
  @extend %inputContainer;
  @extend %formLink;
  @extend %buttonContainer;

  p {
    margin: 0;
  }
}
