@use "../../styles/mixins" as m;
@use "../../styles/variables" as *;
@use "../../styles/placeholders";

.wrapperStyling {
  @include m.flexBox(column, center, center, 0rem);
  margin: 0rem 1rem;
  .headerStyling {
    width: 100%;
    border-top: 5px solid $green;
  }

  &.btnWrapper {
    margin: 1rem 1rem 0rem 1rem;
    @include m.flexBox(column, center, center, 1rem);
  }
}
